### Import libraries

In [15]:
import numpy as np 
import pandas as pd

### Loading Data set

In [16]:
#loading dataset
movies=pd.read_csv("F:\\Portfolio Projects (Data Analysis)(ML)\\p1\\p1_movie_recommender_system\\tmdb_5000_movies.csv")
# First 5 rows
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [17]:
credits=pd.read_csv("F:\\Portfolio Projects (Data Analysis)(ML)\\p1\\p1_movie_recommender_system\\tmdb_5000_credits.csv")
# First 5 rows
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Let See the all columns in both data sets

In [18]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [19]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

### Get common columns

In [20]:

common_cols = set(movies.columns).intersection(set(credits.columns))
print("Common columns:", common_cols)

Common columns: {'title'}

### Here are 2 different datasets that becomes difficult to handle during work so lets merge them
# Merging 2 datasets

>> Here merging credits dataset into movies

In [21]:
movcred = movies.merge(credits, on="title")
movcred.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# Let see the important columns to analyze

In [22]:
movcred.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [23]:
#generos
#id 
#keywords
#title
#overview
#cast
#crew

## Separating important columns

In [24]:
final_df = movcred[['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]
final_df.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [25]:
#saving final data for further processing
final_df.to_csv("final_movies_dataset.csv", index=False)

In [26]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

# Checking missing Values

In [27]:
final_df.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [28]:
# Removing missing values
final_df = final_df.dropna(subset=["overview"])

# checking for Duplicate values

In [29]:
# Check if there are any duplicate rows
print("Total duplicates:", final_df.duplicated().sum())

# Show the duplicate rows (if any)
duplicates = final_df[final_df.duplicated()]
print(duplicates)

Total duplicates: 0
Empty DataFrame
Columns: [id, title, overview, genres, keywords, cast, crew]
Index: []

In [30]:
final_df.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# Converting Columns(genres+keywors+cast+crew) in understandable form where in out there should be no space between 2 words like James Cameron should be written as JamesCameron

In [31]:
import ast

# Generic function for genres & keywords
def convert_to_list(text):
    try:
        data = ast.literal_eval(text)
        return [d['name'].replace(" ", "") for d in data]   # remove spaces inside names
    except:
        return []

# Function for top 3 cast
def get_top_cast(text):
    try:
        data = ast.literal_eval(text)
        return [d['name'].replace(" ", "") for d in data[:3]]
    except:
        return []

# Function for crew (only Director)
def get_director(text):
    try:
        data = ast.literal_eval(text)
        for d in data:
            if d.get('job') == 'Director':
                return [d['name'].replace(" ", "")]
        return []
    except:
        return []

# Apply transformations
final_df['genres'] = final_df['genres'].apply(convert_to_list)
final_df['keywords'] = final_df['keywords'].apply(convert_to_list)
final_df['cast'] = final_df['cast'].apply(get_top_cast)
final_df['crew'] = final_df['crew'].apply(get_director)

# Check results
print(final_df[['title', 'genres', 'keywords', 'cast', 'crew']].head())

                                      title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                         genres  \
0  [Action, Adventure, Fantasy, ScienceFiction]
1                  [Adventure, Fantasy, Action]
2                    [Action, Adventure, Crime]
3              [Action, Crime, Drama, Thriller]
4           [Action, Adventure, ScienceFiction]

                                            keywords  \
0  [cultureclash, future, spacewar, spacecolony, ...
1  [ocean, drugabuse, exoticisland, eastindiatrad...
2  [spy, basedonnovel, secretagent, sequel, mi6, ...
3  [dccomics, crimefighter, terrorist, secretiden...
4  [basedonnovel, mars, medallion, spacetravel, p...

                                            cast                crew
0  [SamWorthington, ZoeSaldana, SigourneyWeaver]      [JamesCameron]
1     [JohnnyDepp, OrlandoBloom, KeiraKnightley]     [GoreVerbinski]
2      [DanielCraig, ChristophWaltz, LéaSeydoux]         [SamMendes]
3      [ChristianBale, MichaelCaine, GaryOldman]  [ChristopherNolan]
4    [TaylorKitsch, LynnCollins, SamanthaMorton]     [AndrewStanton]

In [32]:
final_df.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

# Merging overview+genres+keywords+cast+crew

In [33]:
# Merge genres + keywords + cast + crew into one column "tags"
final_df['tags'] = final_df['genres'] + final_df['keywords'] + final_df['cast'] + final_df['crew']

# Convert list to string (no spaces between words, everything continuous)
final_df['tags'] = final_df['tags'].apply(lambda x: " ".join(x))
# Converting tags column into lower case
final_df["tags"]=final_df["tags"].apply(lambda x:x.lower())


# Keep only required columns
final_df = final_df[['id', 'title', 'tags']]

# Show result
print(final_df.head())

       id                                     title  \
0   19995                                    Avatar
1     285  Pirates of the Caribbean: At World's End
2  206647                                   Spectre
3   49026                     The Dark Knight Rises
4   49529                               John Carter

                                                tags
0  action adventure fantasy sciencefiction cultur...
1  adventure fantasy action ocean drugabuse exoti...
2  action adventure crime spy basedonnovel secret...
3  action crime drama thriller dccomics crimefigh...
4  action adventure sciencefiction basedonnovel m...

# Vectorize Text

>>🔎 Why We Need Vectorization

Computers can’t understand raw text like "Action Adventure Fantasy SciFi SamWorthington JamesCameron".

Machine Learning models and similarity calculations only work with numbers.

So we convert text → numerical form (vectors).

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

# Fit and transform the tags column
vectors = cv.fit_transform(final_df['tags']).toarray()

print("Shape of vectors:", vectors.shape)
print("First row vector:", vectors[0])

Shape of vectors: (4806, 5000)
First row vector: [0 0 0 ... 0 0 0]

# Checking cosine similarity

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute cosine similarity matrix
similarity = cosine_similarity(vectors)

print("Shape of similarity matrix:", similarity.shape)
print("Example similarity row for first movie:\n", similarity[0])

Shape of similarity matrix: (4806, 4806)
Example similarity row for first movie:
 [1.         0.12309149 0.11605177 ... 0.06085806 0.         0.        ]

# Recommender Function

In [36]:
def recommend(movie):
    # find index of the movie
    idx = final_df[final_df['title'] == movie].index[0]
    distances = similarity[idx]
    # sort movies by similarity (skip the first one since it’s the same movie)
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
    for i in movie_list:
        print(final_df.iloc[i[0]].title)
        
# Example usage
recommend('Avatar')

Star Trek Into Darkness
Megaforce
Jupiter Ascending
The Lovers
Aliens

In [37]:
import pandas as pd
import numpy as np
import pickle
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# ========== STEP 1: Vectorization ==========
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(final_df['tags']).toarray()

# ========== STEP 2: Cosine Similarity ==========
similarity = cosine_similarity(vectors)

# ========== STEP 3: Save Data ==========
pickle.dump(final_df, open("movies.pkl", "wb"))
pickle.dump(similarity, open("similarity.pkl", "wb"))

print("✅ Files saved: movies.pkl & similarity.pkl")

# ========== STEP 4: Load Data ==========
movies = pickle.load(open("movies.pkl", "rb"))
similarity = pickle.load(open("similarity.pkl", "rb"))

# ========== STEP 5: Recommendation Function ==========
def recommend(movie):
    if movie not in movies['title'].values:
        print("❌ Movie not found in dataset")
        return
    idx = movies[movies['title'] == movie].index[0]
    distances = similarity[idx]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
    print(f"\n🎬 Recommended movies for: {movie}\n")
    for i in movie_list:
        print(movies.iloc[i[0]].title)

# Example usage
recommend("Avatar")

✅ Files saved: movies.pkl & similarity.pkl

🎬 Recommended movies for: Avatar

Star Trek Into Darkness
Megaforce
Jupiter Ascending
The Lovers
Aliens